<h3>Reset Password</h3>
<form [formGroup]="form" role="form" (ngSubmit)="reset()" novalidate>
    <div class="form-group" [class.has-error]="email.invalid && email.touched">
        <label for="email">Email</label>
        <input [formControl]="email" required type="text" class="form-control" id="email" name="email">
        <div class="help-block">
            <ul class="list-unstyled">
                <li *ngIf="email.valid || email.pristine">Enter your email address</li>
                <li *ngIf="email.dirty && email.hasError('required')">An email address is required</li>
            </ul>
        </div>
    </div>
    <button type="submit" class="btn btn btn-primary">
        Send verification email
    </button>
</form>
